.container.StoreDetail {
    position: relative;
    padding: 100px 16px 150px;
    overflow: hidden;
  }
.storebg{width: 100%;position: fixed;height: auto;z-index: -1;max-width: 430px;}
.storebg img{width: 100%;height: 100%;object-fit: cover;}
  .container.StoreDetail::after {
    content: "";
    position: absolute;
    top: -3%; left: 0; right: 0; bottom: 0;
    background: url(../../../assets/img/StoreImg/Detail/bg-StoreDetail.png) center 155px /cover no-repeat;
    z-index: -1;
    pointer-events: none; /* 클릭 안 막게 처리 */
    opacity: 1; /* 투명도 조절 가능 */
    image-rendering: auto;
  }
  .container.StoreDetail img{image-rendering: auto;}
.StoreHeader2{padding: 16px;padding-bottom:0px;position: fixed;z-index: 100;width: 100%;padding: 0;top: 0; }
.storehd{position: fixed;top: 0;width: 100%;z-index: 90;height: 70px;}
.storehd img{width: 100%;display: block;height: 100%;object-fit: cover;}
.container.StoreDetail .TopBox{width: 100%;}
.container.StoreDetail .TopBox .img1{width: 100%;}
.container.StoreDetail .TopBox .ProductInfo{width: 100%;}
.container.StoreDetail .TopBox .ProductInfo .top{width: 100%; display: flex; justify-content:space-between;align-items: center;margin-top:10px ;}

.container.StoreDetail .TopBox .ProductInfo .top .name{font-size:18px;font-weight: 400}
.container.StoreDetail .TopBox .ProductInfo .top .icon img{padding-left: 5px;width: 24px;height: 24px;object-fit: cover;vertical-align: middle;}

.container.StoreDetail .TopBox .ProductInfo .tag{width: 100%; display: flex;  margin:10px 0 ;}
.container.StoreDetail .TopBox .ProductInfo .tag .blue {color: #007BFF;border: 1px solid #007BFF;border-radius: 5px;font-size: 15px; padding: 2px 5px;display: flex;align-items: center;margin-right: 5px;}
.container.StoreDetail .TopBox .ProductInfo .tag .KR발송 {color: #9F9F9F;border: 1px solid #9F9F9F; border-radius: 5px;font-size: 15px; padding: 2px 5px;display: flex;align-items: center;margin-right: 5px;}

.container.StoreDetail .TopBox .ProductInfo .price{font-size:24px;}

.container.StoreDetail .TopBox .Warnline{border-bottom: 5px dotted #fff;}
.container.StoreDetail .TopBox .Warn1{width: 100%; background: #FFFFFF; border-radius: 10px;height: 80px; padding: 18px; margin: 30px auto 40px;}
.container.StoreDetail .TopBox .Warn1 .tit{font-size: 14px; color: #333333; align-items: center; display: flex;}
.container.StoreDetail .TopBox .Warn1 .tit img{width: 18px; margin-right: 7px;height: 18px;object-fit: cover;}
.container.StoreDetail .TopBox .Warn1 .txt{font-size: 14px; color: #808080; padding:10px 0;}

.container.StoreDetail .MiddleBox{text-align: center; width: 100%; margin-bottom: 100px;}
.container.StoreDetail .MiddleBox .title{width: 100%; margin: 70px auto;}
.container.StoreDetail .MiddleBox .title img{width: 100%;}
.container.StoreDetail .MiddleBox .img2{margin:30px auto;padding-right: 30px;width: 250px;}
.container.StoreDetail .MiddleBox .img2 img{padding-right: 30px;width: 100%;}
.container.StoreDetail .MiddleBox .Detail1 img{width: 100%;}
.container.StoreDetail .MiddleBox .Detail2 img{width: 100%;}
.container.StoreDetail .MiddleBox .ex{width: 100%; height:700px; ;position: relative;}
.container.StoreDetail .MiddleBox .ex1{width: 62%; position: absolute; right: 0; top: 0px;}
.container.StoreDetail .MiddleBox .ex2{width: 62%; position: absolute; left: 0; bottom: 0px;}
.container.StoreDetail .MiddleBox .final{width: 100%; display: flex; justify-content: space-between;gap: 10px;}
.container.StoreDetail .MiddleBox .final .front{width: 100%; position: relative; color:#BF95E8; font-size: 14px;}
.container.StoreDetail .MiddleBox .final .front img{width: 100%;}
.container.StoreDetail .MiddleBox .final .back{width: 100%; color:#BF95E8; font-size: 14px;}
.container.StoreDetail .MiddleBox .final .back img{width: 100%;}
.container.StoreDetail .MiddleBox .final .front p, .container.StoreDetail .MiddleBox .final .back p{margin-top:5px ;}

.container.StoreDetail .MiddleBox .textBox{width: 100%; margin: 45px auto;line-height: 22px;}
.container.StoreDetail .MiddleBox .textBox .bold{color: #7A4FA3; font-size: 16px; font-weight: 500;margin-bottom: 10px;}
.container.StoreDetail .MiddleBox .textBox .light{color:#BF95E8; font-size: 16px; font-weight: 300;margin-bottom: 100px;}


.BottomBox{width: 100%; background: #D6B6F5; height: 552px; color: #FFFFFF; line-height: 20px;}
.BottomBox .tit{font-size: 16px; font-weight: 500; color: #fff; padding: 30px 20px; align-items: center; display: flex;}
.BottomBox .tit img{width: 22px;height: 22px;object-fit: cover;margin-right: 10px;}
.BottomBox .txt{width: 95%; margin-bottom:40px; padding-left: 20px;}
.BottomBox .txt .kor{font-size: 16px; font-weight: 500; color: #fff; padding:10px 0;}
.BottomBox .txt .eng{font-size: 15px; font-weight: 300; color: #A163DD;}

.BTN{position: sticky; bottom:0; background: #D6B6F5;height: 100px; padding-top: 15px;}
.BTN a{  display: flex; align-items: center; justify-content: center; border: 1px solid #000; border-radius: 50px; font-size: 16px; font-weight: 500; height: 50px; width: 340px; margin: 0 auto; background: linear-gradient(to top, #ffffff, #e6e6e6, #ffffff);color: black; text-decoration: none;}