.fanContainer .fanletter{position: fixed;z-index: -1;width: 100%;height: 100vh;max-width: 430px;}
.fanContainer .fanletter img{width: 100%;height: 100%;object-fit: cover;}
.fanbg{position: fixed;;width: 100%;height: 155px;box-shadow: 0 0 10px rgba(184,142,226,0.3);z-index: 100;max-width: 430px;}
.fanbg img{width: 100%;object-fit: cover;height: 100%;}
.fantop{position: fixed;width: 100%;z-index: 101;max-width: 430px;}
.togglesearch{display: flex;align-items: center;width: 80%;margin: 0 auto;}
.fansearcha{opacity: 0;width: 30px;height: 30px;}
.toggle-container{ position: relative;
  display: flex;
  width: 180px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 999px;
  background: transparent;
  overflow: hidden;
  margin: 20px auto;
  background: #fff;}
.toggle-bg {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 51%;
  height: 104%;
  background: linear-gradient(to top, #FF8EBF,#FFAACF, #FFC8DF,#fff);
  border-radius: 999px;
  z-index: 1;
  transition: left 0.3s ease;
  border: 1px solid #000;
  box-sizing: border-box;
}
.toggle-btn {
  flex: 1;
  z-index: 2;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
  cursor: pointer;
}

.btnmore{position: sticky;bottom: 20px;border: 1px solid #000;border-radius: 50%;background: linear-gradient(to bottom, #fff, #FFC8DF,#FF8EBF );width: 50px;height: 50px;text-align: center;line-height: 64px;z-index: 100;float: right;margin-right: 20px;}
.floating-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
    max-width: 430px;
  }
  
  .floating-content {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }
  
  .floating-content a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.2s;
    font-weight: 500;
  }
  
  .floating-content a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:linear-gradient(to bottom, #fff, #FFC8DF,#FF8EBF );
    padding: 8px;
    border: 1px solid #000;
  }
  
  .floating-content a:hover {
    transform: scale(1.05);
  }
  
  .floating-content button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #000;
  }
  
  .floating-content button img {
    width: 24px;
    height: 24px;
  }

  .fan-toast {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background: #F7EFFF;
    color: #333;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 16px 20px rgba(0,0,0,0.2);
    font-weight: 300;
    z-index: 999;
    width: 370px;
    height: 60px;
    line-height: 40px;
    font-size: 16px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .fan-toast.show {
    transform: translateX(-50%) translateY(30px);
    opacity: 1;
  }


.fansearch img{width: 30px;height: 30px;object-fit: cover;{image-rendering: auto;-webkit-backface-visibility: hidden;-webkit-transform: translate3d(0,0,0);}}
.fanContainer .btnmore .red-dot {width: 6px;height: 6px;position: absolute;right: -10px;}
.fanContainer .btnmore .red-dot {width: 6px;height: 6px;position: absolute;right: -10px;}
.floating-content .red-dot {width: 6px;height: 6px;position: absolute;right: -10px;top: 0;}
.fanContainer .toggle-btn .red-dot {width: 6px;height: 6px;position: absolute;right: 1px;top: 8px;}